In [3]:
#importing packages needed
import requests
import pandas as pd
import json

### Accessing User Data File 

Because this is a project showing the possibilities, our user data is generated from an API instead of a file export from a CRM.

In [33]:
#accessing the API to get user data
r = requests.get('https://peoplegeneratorapi.live/api/person/10')
print(r.status_code)
print(r.json())

200
[{'name': 'Rafael Kilback', 'age': 52, 'job': 'Journalist', 'incomeUSD': 68750, 'creditScore': 475, 'ccNumber': '3767-819973-23952', 'married': True, 'hasChildren': True, 'height': 161.0, 'weight': 54.8, 'eyeColor': 'GRAY', 'email': 'rafaelkilback@hotmail.com', 'gender': 'Female', 'hasDegree': True, 'bloodType': 'A+', 'username': 'rafael91', 'politicalLeaning': -0.02, 'religion': 'Buddhism', 'address': {'streetAddress': '726 Hartmann Dale', 'city': None, 'state': None, 'country': "Cote d'Ivoire", 'zip': '1392', 'geonameId': -1, 'phoneNumber': '+225 007808377', 'ipAddress': '125.81.113.10', 'countryCode': 'CI'}, 'doB': 'Sun Jun 11 09:38:07 UTC 1972', 'gpa': 3.2}, {'name': 'Lise Bartoletti', 'age': 24, 'job': 'Jockey', 'incomeUSD': 34522, 'creditScore': 704, 'ccNumber': '6767-5068-4665-5264-425', 'married': True, 'hasChildren': True, 'height': 165.0, 'weight': 64.1, 'eyeColor': 'BLUE', 'email': 'lise_bartoletti@hotmail.com', 'gender': 'Female', 'hasDegree': False, 'bloodType': 'B-', 'username': 'lise78', 'politicalLeaning': 0.39, 'religion': 'Christianity', 'address': {'streetAddress': '80393 Spencer Rapids', 'city': 'Monte-Carlo', 'state': '', 'country': 'Monaco', 'zip': '6132', 'geonameId': 2993458, 'phoneNumber': '+377 468161281', 'ipAddress': '181.253.219.133', 'countryCode': 'MC'}, 'doB': 'Fri Sep 17 12:14:43 UTC 1999', 'gpa': 2.1}, {'name': 'Melodi Weber', 'age': 44, 'job': 'Radiation Therapist', 'incomeUSD': 84363, 'creditScore': 554, 'ccNumber': '3797-662581-41935', 'married': True, 'hasChildren': False, 'height': 156.0, 'weight': 64.2, 'eyeColor': 'BROWN', 'email': 'melodi@hotmail.com', 'gender': 'Female', 'hasDegree': False, 'bloodType': 'B-', 'username': 'melodi26', 'politicalLeaning': -0.03, 'religion': 'Folk Religions', 'address': {'streetAddress': '980 Cummings Lodge', 'city': 'Georgetown', 'state': 'East Berbice-Corentyne', 'country': 'Guyana', 'zip': '0944', 'geonameId': 3376762, 'phoneNumber': '+592 561315132', 'ipAddress': '186.48.56.204', 'countryCode': 'GY'}, 'doB': 'Thu Oct 04 09:42:53 UTC 1979', 'gpa': 3.3}, {'name': 'Dalton Orn', 'age': 21, 'job': 'Racehorse Trainer', 'incomeUSD': 54693, 'creditScore': 618, 'ccNumber': '6771-8985-4318-4114', 'married': True, 'hasChildren': True, 'height': 161.0, 'weight': 75.3, 'eyeColor': 'BLUE', 'email': 'daltonorn@yahoo.com', 'gender': 'Male', 'hasDegree': True, 'bloodType': 'A-', 'username': 'dalton4', 'politicalLeaning': -0.52, 'religion': 'Hinduism', 'address': {'streetAddress': '159 Vickie Corners', 'city': 'Santa Rosa de Copán', 'state': 'Cortés', 'country': 'Honduras', 'zip': '6321', 'geonameId': 3608248, 'phoneNumber': '+504 16721188', 'ipAddress': '82.25.93.228', 'countryCode': 'HN'}, 'doB': 'Wed Nov 27 08:00:22 UTC 2002', 'gpa': 1.6}, {'name': 'Agnus Upton', 'age': 34, 'job': 'Graphic Designer', 'incomeUSD': 79412, 'creditScore': 490, 'ccNumber': '6533-6264-3114-7249-1499', 'married': False, 'hasChildren': False, 'height': 155.0, 'weight': 55.3, 'eyeColor': 'BLUE', 'email': 'agnus_upton@hotmail.com', 'gender': 'Female', 'hasDegree': False, 'bloodType': 'B+', 'username': 'agnus53', 'politicalLeaning': -0.65, 'religion': 'Hinduism', 'address': {'streetAddress': '0825 Noel Trail', 'city': "Saint George's", 'state': 'Saint George', 'country': 'Grenada', 'zip': '6389', 'geonameId': 3579925, 'phoneNumber': '+1473 1386150573', 'ipAddress': '44.76.87.191', 'countryCode': 'GD'}, 'doB': 'Fri Jan 26 00:20:56 UTC 1990', 'gpa': 2.7}, {'name': 'Arnold Doyle', 'age': 31, 'job': 'Cashier', 'incomeUSD': 27380, 'creditScore': 586, 'ccNumber': '4170-5520-2367-3243', 'married': True, 'hasChildren': True, 'height': 175.0, 'weight': 60.2, 'eyeColor': 'GRAY', 'email': 'arnold_doyle@hotmail.com', 'gender': 'Male', 'hasDegree': False, 'bloodType': 'A+', 'username': 'arnold65', 'politicalLeaning': 0.99, 'religion': 'Christianity', 'address': {'streetAddress': '2879 Tyree Haven', 'city': 'Bingley', 'state': 'England', 'country': 'United Kingdom', 'zip': 'RV1H', 'geonameId': 2657613, 'phoneNumber': '+44 2629819715', 'ipAddress': '174.167.193.170', 'countryCode': 'GB'}, 'doB': 'Sat Aug 14 14:47:16 UTC 1993', 'gpa': 2.4}, {'name': 'Octavio Walter', 'age': 28, 'job': 'Best Boy Electric', 'incomeUSD': 58645, 'creditScore': 437, 'ccNumber': '3529-3977-2456-7900', 'married': True, 'hasChildren': True, 'height': 166.0, 'weight': 59.4, 'eyeColor': 'BLUE', 'email': 'walter@hotmail.com', 'gender': 'Male', 'hasDegree': False, 'bloodType': 'B+', 'username': 'octavio6', 'politicalLeaning': -0.21, 'religion': 'Buddhism', 'address': {'streetAddress': '64289 Darren Plain', 'city': 'Apia', 'state': 'Tuamasaga', 'country': 'Samoa', 'zip': '3473', 'geonameId': 4035413, 'phoneNumber': '+685 3654314', 'ipAddress': '143.158.190.232', 'countryCode': 'WS'}, 'doB': 'Thu May 09 02:27:26 UTC 1996', 'gpa': 2.5}, {'name': 'Lela Sauer', 'age': 26, 'job': 'Preschool Teacher', 'incomeUSD': 36627, 'creditScore': 610, 'ccNumber': '3684-295959-8700', 'married': False, 'hasChildren': False, 'height': 166.0, 'weight': 65.3, 'eyeColor': 'BROWN', 'email': 'lelasauer@gmail.com', 'gender': 'Male', 'hasDegree': False, 'bloodType': 'B-', 'username': 'lela22', 'politicalLeaning': 0.25, 'religion': 'Christianity', 'address': {'streetAddress': '55491 Donnelly Tunnel', 'city': 'Kapan', 'state': 'Syunik Province', 'country': 'Armenia', 'zip': '4321', 'geonameId': 616629, 'phoneNumber': '+374 32205279', 'ipAddress': '148.86.60.47', 'countryCode': 'AM'}, 'doB': 'Tue Apr 14 17:35:01 UTC 1998', 'gpa': 2.8}, {'name': 'Joey Fritsch', 'age': 34, 'job': 'Game Developer', 'incomeUSD': 93796, 'creditScore': 733, 'ccNumber': '6007-2250-4856-1776', 'married': False, 'hasChildren': False, 'height': 161.0, 'weight': 74.3, 'eyeColor': 'GRAY', 'email': 'joey_fritsch@gmail.com', 'gender': 'Male', 'hasDegree': False, 'bloodType': 'A+', 'username': 'joey94', 'politicalLeaning': -0.28, 'religion': 'Christianity', 'address': {'streetAddress': '342 Bergstrom Tunnel', 'city': 'Ban Houakhoua', 'state': 'Louangphabang', 'country': 'Laos', 'zip': '2250', 'geonameId': 1652203, 'phoneNumber': '+856 854640702', 'ipAddress': '67.192.244.33', 'countryCode': 'LA'}, 'doB': 'Mon Sep 03 02:34:31 UTC 1990', 'gpa': 1.7}, {'name': 'Meghann Heller', 'age': 36, 'job': 'Babysitter', 'incomeUSD': 20312, 'creditScore': 608, 'ccNumber': '3683-436468-3086', 'married': True, 'hasChildren': True, 'height': 176.0, 'weight': 74.6, 'eyeColor': 'GRAY', 'email': 'meghann_heller@yahoo.com', 'gender': 'Male', 'hasDegree': True, 'bloodType': 'B-', 'username': 'meghann79', 'politicalLeaning': 0.17, 'religion': 'Christianity', 'address': {'streetAddress': '65755 Schimmel Route', 'city': 'Mbandaka', 'state': 'Likouala', 'country': 'Congo', 'zip': '6679', 'geonameId': 204318, 'phoneNumber': '+242 807384905', 'ipAddress': '92.225.250.40', 'countryCode': 'CG'}, 'doB': 'Wed Feb 17 21:15:40 UTC 1988', 'gpa': 2.8}]

In [34]:
#viewing the data as a dataframe
data=r.json()
df = (pd.DataFrame(data))
df.head()

,name,age,job,incomeUSD,creditScore,ccNumber,married,hasChildren,height,weight,...,email,gender,hasDegree,bloodType,username,politicalLeaning,religion,address,doB,gpa
0,Rafael Kilback,52,Journalist,68750,475,3767-819973-23952,True,True,161.0,54.8,...,rafaelkilback@hotmail.com,Female,True,A+,rafael91,-0.02,Buddhism,"{'streetAddress': '726 Hartmann Dale', 'city':...",Sun Jun 11 09:38:07 UTC 1972,3.2
1,Lise Bartoletti,24,Jockey,34522,704,6767-5068-4665-5264-425,True,True,165.0,64.1,...,lise_bartoletti@hotmail.com,Female,False,B-,lise78,0.39,Christianity,"{'streetAddress': '80393 Spencer Rapids', 'cit...",Fri Sep 17 12:14:43 UTC 1999,2.1
2,Melodi Weber,44,Radiation Therapist,84363,554,3797-662581-41935,True,False,156.0,64.2,...,melodi@hotmail.com,Female,False,B-,melodi26,-0.03,Folk Religions,"{'streetAddress': '980 Cummings Lodge', 'city'...",Thu Oct 04 09:42:53 UTC 1979,3.3
3,Dalton Orn,21,Racehorse Trainer,54693,618,6771-8985-4318-4114,True,True,161.0,75.3,...,daltonorn@yahoo.com,Male,True,A-,dalton4,-0.52,Hinduism,"{'streetAddress': '159 Vickie Corners', 'city'...",Wed Nov 27 08:00:22 UTC 2002,1.6
4,Agnus Upton,34,Graphic Designer,79412,490,6533-6264-3114-7249-1499,False,False,155.0,55.3,...,agnus_upton@hotmail.com,Female,False,B+,agnus53,-0.65,Hinduism,"{'streetAddress': '0825 Noel Trail', 'city': '...",Fri Jan 26 00:20:56 UTC 1990,2.7

In [35]:
#getting a list of all the column names

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              10 non-null     object
 1   age               10 non-null     int64
 2   job               10 non-null     object
 3   incomeUSD         10 non-null     int64
 4   creditScore       10 non-null     int64
 5   ccNumber          10 non-null     object
 6   married           10 non-null     bool
 7   hasChildren       10 non-null     bool
 8   height            10 non-null     float64
 9   weight            10 non-null     float64
 10  eyeColor          10 non-null     object
 11  email             10 non-null     object
 12  gender            10 non-null     object
 13  hasDegree         10 non-null     bool
 14  bloodType         10 non-null     object
 15  username          10 non-null     object
 16  politicalLeaning  10 non-null     float64
 17  religion          10 non-null     object
 18  address           10 non-null     object
 19  doB               10 non-null     object
 20  gpa               10 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(11)
memory usage: 1.6+ KB

Since we know we are only going to market this product to adults, we need to remove all children from the dataset

In [36]:
#removing individuals under the age of 18 
df.drop(df[df['age'] < 18].index, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              10 non-null     object
 1   age               10 non-null     int64
 2   job               10 non-null     object
 3   incomeUSD         10 non-null     int64
 4   creditScore       10 non-null     int64
 5   ccNumber          10 non-null     object
 6   married           10 non-null     bool
 7   hasChildren       10 non-null     bool
 8   height            10 non-null     float64
 9   weight            10 non-null     float64
 10  eyeColor          10 non-null     object
 11  email             10 non-null     object
 12  gender            10 non-null     object
 13  hasDegree         10 non-null     bool
 14  bloodType         10 non-null     object
 15  username          10 non-null     object
 16  politicalLeaning  10 non-null     float64
 17  religion          10 non-null     object
 18  address           10 non-null     object
 19  doB               10 non-null     object
 20  gpa               10 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(11)
memory usage: 1.6+ KB

As we can see the file is now smaller and excludes anyone under the age of 18.

Since the BMI API we are using requires height in inches and weight in pounds, we will need to update this in our dataframe as well. Currently, the Height is in CM and the Weight is in KG. 

Height: Convert from CM to In

Weight: Convert from KG to LB

To convert from CM to IN, I need to divide the Height column values by 2.54 in order to get the correct value in inches 
To convert from KG to LB, I need to multiply the Weight column values by 2.205 in order to get the correct value in pounds

In [37]:
#adding height in inches and weight in pounds
df['height_inches'] = df['height'] / 2.54

df['weight_pounds'] = df['weight'] * 2.205

In [38]:
#generating just the columns needed to get BMI
bmi_columns_needed = df[['age','height','weight','height_inches','weight_pounds']]
print(bmi_columns_needed)

   age  height  weight  height_inches  weight_pounds
0   52   161.0    54.8      63.385827       120.8340
1   24   165.0    64.1      64.960630       141.3405
2   44   156.0    64.2      61.417323       141.5610
3   21   161.0    75.3      63.385827       166.0365
4   34   155.0    55.3      61.023622       121.9365
5   31   175.0    60.2      68.897638       132.7410
6   28   166.0    59.4      65.354331       130.9770
7   26   166.0    65.3      65.354331       143.9865
8   34   161.0    74.3      63.385827       163.8315
9   36   176.0    74.6      69.291339       164.4930

### Appending in BMI Data

In [44]:
def calculate_bmi(row):
    url = "https://fitness-calculator.p.rapidapi.com/bmi"
    querystring = {
        "age": row['age'],
        "weight": row['weight'],
        "height": row['height']
    }
    headers = {
        "X-RapidAPI-Key": "4e03809b78msh7c9b407469fb512p1dd864jsnf85ade6acbd3",
        "X-RapidAPI-Host": "fitness-calculator.p.rapidapi.com"
    }
    response = requests.get(url, headers=headers, params=querystring)
    data = response.json()
    
    # Check if 'data' key is present in the API response
    if 'data' in data:
        bmi = data['data'].get('bmi', None)
        health = data['data'].get('health', None)
        healthy_bmi_range = data['data'].get('healthy_bmi_range', None)
        return bmi, health, healthy_bmi_range
    else:
        return None, None, None  # Return None in case of missing or unexpected data

# Add new columns 'bmi', 'health', and 'healthy_bmi_range' to the DataFrame
df['bmi'], df['health'], df['healthy_bmi_range'] = zip(*df.apply(calculate_bmi, axis=1))

# Display the updated DataFrame
print(df)

              name  age                  job  incomeUSD  creditScore  \
0   Rafael Kilback   52           Journalist      68750          475
1  Lise Bartoletti   24               Jockey      34522          704
2     Melodi Weber   44  Radiation Therapist      84363          554
3       Dalton Orn   21    Racehorse Trainer      54693          618
4      Agnus Upton   34     Graphic Designer      79412          490
5     Arnold Doyle   31              Cashier      27380          586
6   Octavio Walter   28    Best Boy Electric      58645          437
7       Lela Sauer   26    Preschool Teacher      36627          610
8     Joey Fritsch   34       Game Developer      93796          733
9   Meghann Heller   36           Babysitter      20312          608

                   ccNumber  married  hasChildren  height  weight  ...  \
0         3767-819973-23952     True         True   161.0    54.8  ...
1   6767-5068-4665-5264-425     True         True   165.0    64.1  ...
2         3797-662581-41935     True        False   156.0    64.2  ...
3       6771-8985-4318-4114     True         True   161.0    75.3  ...
4  6533-6264-3114-7249-1499    False        False   155.0    55.3  ...
5       4170-5520-2367-3243     True         True   175.0    60.2  ...
6       3529-3977-2456-7900     True         True   166.0    59.4  ...
7          3684-295959-8700    False        False   166.0    65.3  ...
8       6007-2250-4856-1776    False        False   161.0    74.3  ...
9          3683-436468-3086     True         True   176.0    74.6  ...

  politicalLeaning        religion  \
0            -0.02        Buddhism
1             0.39    Christianity
2            -0.03  Folk Religions
3            -0.52        Hinduism
4            -0.65        Hinduism
5             0.99    Christianity
6            -0.21        Buddhism
7             0.25    Christianity
8            -0.28    Christianity
9             0.17    Christianity

                                             address  \
0  {'streetAddress': '726 Hartmann Dale', 'city':...
1  {'streetAddress': '80393 Spencer Rapids', 'cit...
2  {'streetAddress': '980 Cummings Lodge', 'city'...
3  {'streetAddress': '159 Vickie Corners', 'city'...
4  {'streetAddress': '0825 Noel Trail', 'city': '...
5  {'streetAddress': '2879 Tyree Haven', 'city': ...
6  {'streetAddress': '64289 Darren Plain', 'city'...
7  {'streetAddress': '55491 Donnelly Tunnel', 'ci...
8  {'streetAddress': '342 Bergstrom Tunnel', 'cit...
9  {'streetAddress': '65755 Schimmel Route', 'cit...

                            doB  gpa height_inches  weight_pounds    bmi  \
0  Sun Jun 11 09:38:07 UTC 1972  3.2     63.385827       120.8340  21.14
1  Fri Sep 17 12:14:43 UTC 1999  2.1     64.960630       141.3405  23.54
2  Thu Oct 04 09:42:53 UTC 1979  3.3     61.417323       141.5610  26.38
3  Wed Nov 27 08:00:22 UTC 2002  1.6     63.385827       166.0365  29.05
4  Fri Jan 26 00:20:56 UTC 1990  2.7     61.023622       121.9365  23.02
5  Sat Aug 14 14:47:16 UTC 1993  2.4     68.897638       132.7410  19.66
6  Thu May 09 02:27:26 UTC 1996  2.5     65.354331       130.9770  21.56
7  Tue Apr 14 17:35:01 UTC 1998  2.8     65.354331       143.9865  23.70
8  Mon Sep 03 02:34:31 UTC 1990  1.7     63.385827       163.8315  28.66
9  Wed Feb 17 21:15:40 UTC 1988  2.8     69.291339       164.4930  24.08

       health healthy_bmi_range
0      Normal         18.5 - 25
1      Normal         18.5 - 25
2  Overweight         18.5 - 25
3  Overweight         18.5 - 25
4      Normal         18.5 - 25
5      Normal         18.5 - 25
6      Normal         18.5 - 25
7      Normal         18.5 - 25
8  Overweight         18.5 - 25
9      Normal         18.5 - 25

[10 rows x 26 columns]

Now that I have added in BMI, Health indicator, and the healthy BMI range, I would like to make my data set more robust to make insights easier. First, I will take the income column and add a new range that signifies lower, middle, or upper class.